{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "requireConfigFile": false,
    "ecmaVersion": 2024,
    "sourceType": "module",
    "babelOptions": {
      "presets": ["@babel/preset-env"]
    },
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["solid"],
  "extends": ["eslint:recommended", "plugin:solid/recommended", "prettier"],
  "rules": {
    "no-unused-vars": ["warn", { "argsIgnorePattern": "^_" }]
  },
  "env": {
    "browser": true,
    "es2024": true,
    "node": true
  }
}
