@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  background: rgba(243, 147, 33, 0.5);
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

h1 {
  color: rgba(243, 147, 34, 1);
  font-weight: 100;
  font-size: 56px;
  margin: 0px 0px 35px;
}

p {
  margin: 0px 0px 35px;
}

a {
  text-decoration: none;
  padding: 4px 10px;
  border-radius: 4px;
  border: 1px solid rgba(239, 115, 0, 0.8);
  background-color: rgba(243, 147, 34, 0.4);
  box-shadow: 0px 2px 5px rgba(0,0,0,.2);
  color: #FFFFFF;
  margin: 0 10px;
}

a:hover {
  background-color: rgba(239, 115, 0, 0.8);;
}

.start-stop {
  padding: 6px 25px;
  border: 1.5px solid rgba(239, 115, 0, 0.8);
}

#clockdiv {
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 52px;
}

#clockdiv > div {
  padding: 20px;
  border-radius: 4px;
  background: rgba(243, 147, 34, 0.4);
  display: inline-block;
}

#clockdiv div > span {
  padding: 15px;
  border-radius: 3px;
  background: rgba(239, 115, 0, 0.8);
  display: inline-block;
}

.start-stop-div {
  margin-top: 55px;
  margin-bottom: 25px;
}

.minutes-btn-div {
  display: inline-block;
  font-size: 11px;
}

.bold {
	font-weight: bold;
}

.smalltext {
  padding-top: 10px;
  font-size: 22px;
}

.border {
  padding: 60px;
  display: inline-block;
  text-align: center;
  border: solid 9px #f39321;
  border-radius: 20px;
}
